<style>
    .statistic {
        display: inline-block;
        padding: 2em;
        color: #121212;
  }

  .value {
      font-size: 6em;
      text-align: center;
  }

  .label {
      text-align: center;
}
.label span {
    background: #eee;
    padding: 0.5em;
    border-radius: 3px;
      }
</style>
<div ng-repeat="player in playerList">
    <h2>Stats for {{ player.playerName }}</h2>
    <div class="statistic">
        <div class="value">{{ player.total }}</div>
        <div class="label">
            <span>
                deaths
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.bleedings }}</div>
        <div class="label">
            <span>
                bleedings
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.radiations }}</div>
        <div class="label">
            <span>
                radiation
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.suicides }}</div>
        <div class="label">
            <span>
                suicide
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.bear }}</div>
        <div class="label">
            <span>
               bear 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.bearTrap }}</div>
        <div class="label">
            <span>
               bear trap 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.c4 }}</div>
        <div class="label">
            <span>
               c4 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.campfire }}</div>
        <div class="label">
            <span>
               campfire 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.cold }}</div>
        <div class="label">
            <span>
               cold 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.drowning }}</div>
        <div class="label">
            <span>
              drowning 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.fall }}</div>
        <div class="label">
            <span>
               falling 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.heat }}</div>
        <div class="label">
            <span>
               heat 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.hunger }}</div>
        <div class="label">
            <span>
               hunger 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.players }}</div>
        <div class="label">
            <span>
               players 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.poison }}</div>
        <div class="label">
            <span>
               poison 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.sleepers }}</div>
        <div class="label">
            <span>
               sleepers 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.thirst }}</div>
        <div class="label">
            <span>
               thirst 
            </span>
        </div>
    </div>
    <div class="statistic">
        <div class="value">{{ player.wolf }}</div>
        <div class="label">
            <span>
               wolf 
            </span>
        </div>
    </div>
</div>
