<style>
    .player li span {
        font-size: 1.25em;
    }
</style>
{{ test }}

<ul class="player" ng-repeat="player in players">
    <li>
        <span class="title">Steam ID: </span>{{ player.idPayer }}
    </li>
    <li>
        <span class="title">Player name: </span>{{ player.playerName }}
    </li>
    <li>
        <span class="title">Deaths</span>
        <ul>
            <li>
                <span class="title">Bleeding:</span> {{ player.bleedings }}
            </li>
            <li>
                <span class="title">items:</span> {{ player.items }}
            </li>
            <li>
                <span class="title">radiation:</span> {{ player.radiations }}
            </li>
            <li>
                <span class="title">suicide:</span> {{ player.suicides }}
            </li>
        </ul>
    </li>
</ul>
